#! /bin/bash

apt install -y vsftpd

# USER
echo "CREATE FTP USER IF NOT EXIST"

mkdir -p {{INDEX_DIR}}

id -u {{INDEX_USER}} &>/dev/null || useradd -p {{INDEX_PASSWORD}} {{INDEX_USER}}
usermod -d {{INDEX_DIR}} -m {{INDEX_USER}}
chown -R {{INDEX_USER}} {{INDEX_DIR}}

# FTP config
echo "CONFIGURE VSFTPD CONFIG TO FOLDER {{INDEX_DIR}}"

touch /etc/vsftpd.conf
mv /etc/vsftpd.conf /etc/vsftpd.conf.bak
echo ./vsftpd.conf > /etc/vsftpd.conf

touch /etc/vsftpd.user_list
mv /etc/vsftpd.user_list /etc/vsftpd.user_list.bak
echo ./vsftpd.user_list > /etc/vsftpd.user_list

systemctl restart vsftpd

python3 -m pip3 install -r requirements.txt

gunicorn init -b 0.0.0.0:{{INDEX_PORT}} --reload --timeout 100000