import os.path
from flask import Flask
from flask_autoindex import AutoIndex
application = Flask(__name__)
# AutoIndex(application, browse_root=os.path.join("/", "documentation"))
AutoIndex(application, browse_root="{{INDEX_DIR}}")

if __name__ == '__main__':
    application.run(host= '0.0.0.0', port={{INDEX_PORT}})
