listen=YES

#listen_ipv6=YES

anonymous_enable=NO

local_enable=YES

write_enable=YES

local_umask=022

#anon_upload_enable=YES

#anon_mkdir_write_enable=YES

anon_upload_enable=NO
anon_mkdir_write_enable=NO

dirmessage_enable=YES

xferlog_enable=YES

#chown_uploads=YES
#chown_username=whoever
#
#xferlog_file=/var/log/vsftpd.log
#

#xferlog_std_format=YES

idle_session_timeout=36000
#
data_connection_timeout=36000
accept_timeout=36000
connect_timeout=36000
#
#nopriv_user=ftpsecure
#
#async_abor_enable=YES
#
#ascii_upload_enable=YES
#ascii_download_enable=YES
#
ftpd_banner=Servidor FTP de ENERGETICA
#
#deny_email_enable=YES

#banned_email_file=/etc/vsftpd.banned_emails
#
chmod_enable=YES

chroot_local_user=NO

chroot_list_enable=YES
allow_writeable_chroot=YES
chroot_list_file=/etc/vsftpd.chroot_list

#ls_recurse_enable=YES
#
secure_chroot_dir={{INDEX_DIR}}
#
pam_service_name=vsftpd
#
rsa_cert_file=/etc/ssl/certs/ssl-cert-snakeoil.pem
#
rsa_private_key_file=/etc/ssl/private/ssl-cert-snakeoil.key

userlist_enable=YES
userlist_deny=NO
userlist_file=/etc/vsftpd.user_list

pam_service_name=ftp
